.comic-card {
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
  display: inline;
  width: 168.53px;

  .image-wrapper {
    display: block;
    width: 168.53px;
    height: 253.79px;
    text-align: center;

    > img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      align-self: center;
      vertical-align: middle;
    }
  }
}